/* CoverLetter.css */

.cover-letter-container {
    display: flex; /* Use Flexbox layout */
}

.objective-container {
    margin-left: 20px; /* Adjust the margin to create space between the image and the text */
    font-family: 'monospace';
    font-size: medium;
}

.profile-pic {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border: 3px solid #dfc7fc; /* Add a white border */
    border-radius: 50%; /* Make the image round */
    box-shadow: 0 0 10px rgba(226, 74, 246, 0.2); /* Add a subtle shadow effect */
  }
  